In [13]:
produc=(lambda *args : sum(args))

In [14]:
produc(2,3)

5

In [11]:
res = (lambda *args: sum(args))

In [12]:
res(10,20) , res(10,20,30,40)

(30, 100)

In [18]:
res=(lambda **kwargs : sum(kwargs.values()))

In [19]:
res(a = 10 , b= 20 , c = 30)

60

In [26]:
price=(lambda a,b : a+b)

In [27]:
price(3,4)

7

In [28]:
def product(nums):
    total = 1
    for i in nums:
         total *= i
    return total

In [65]:
product([10,20,30])

6000

In [39]:
# User defined function to find product of numbers
def product(nums):
    total = 1
    for i in nums:
        total *= i
    return total
# This lambda function can take any number of arguments and return thier product.
res1 = (lambda **kwargs: product(kwargs.values()))
res1(a = 10 )

10

In [52]:
product([20,30,40])

24000

In [47]:
res=(lambda **kwargs : print(kwargs.values()))

In [48]:
res(a=2,b=10)

dict_values([2, 10])

In [53]:
def function(n):
    return lambda a : a +n

add10=function(10)
print(add10(2))

12

In [59]:
list1=[2,4,5,20]
odd_num=list(filter(lambda a : a%2 == 1 ,list1))

In [60]:
odd_num

[5]

In [63]:
def odd(n):
    if n % 2 == 1 : return True
    else : return False 
    
odd_num= list(filter(odd , list1))

In [64]:
odd_num

[5]

In [81]:
def twice(n):
    return n*2
res=list(map(twice , [2]))

TypeError: 'list' object is not callable

In [69]:
res

[4]

In [1]:
list2=[3,4,5,7,8]
from functools import reduce

sum_all=reduce(lambda a,b : a+b,list)
sum_all

27

In [6]:
doubles = list(map(lambda n:n*2,list2))

In [4]:
doubles

[6, 8, 10, 14, 16]

In [8]:
def num(n):
    if n % 2==0 : return True
    else : return False 
    
list2=[2,4,7,65,20]
x=list(filter(num , list2))
x

[2, 4, 20]

In [10]:
list3=[3,6,65,53,35]

from functools import reduce
x=reduce(lambda a, b : a if a>b else b , list3)
x

65

In [12]:
def max_num(a,b):
    return a if a>b else b

x=reduce(max_num , list3)
x

65